<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta charset="utf-8">
  <meta name="description" content="vue-dataac 官方文档 Vue 前端监控插件 Vue用户行为监控插件 异常监控插件 https://github.com/adminV/Vue-dataAc">
  <title>Vue-dataAc 文档</title>
  <link rel="stylesheet" href="../lib/styles/basic.css">
  <link rel="stylesheet" href="../lib/styles/iview.css">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d147583b1d02ef3c79b1a47762c85daa";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<body>
<div id="load">
  <style>
    body {
      margin: 0;
    }

    #load {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .3);
    }

    .loader {
      margin: 30vh auto 0;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 5px solid #666;
      border-bottom: 5px solid #fff;
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear
    }

    .loader {
      border-radius: 50%;
      width: 50px;
      height: 50px
    }

    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
      }
    }

    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
      }
    }

    .pCenter {
      font-size: 18px;
      color: #fff;
      text-align: center;
      text-indent: 0.5em;
      margin-top: 10px;
    }
  </style>
  <div class="loader"></div>
  <p class="pCenter">加载中...</p>
</div>
<div id="app" style="display: none">
  <div class="layout">
    <Layout class="dataac-headLayout" >
      <Sider>
        <i-Menu active-name="1" theme="dark" width="auto" >
          <p class="dataac-menuLogo">
            功能列表
          </p>
          <menu-item :name="item.name" v-for="(item, index) in menuData" :key="index" @click.native="window.location.href =  window.location.origin + item.path">
            <Icon :type="item.icon"></Icon>
            <span>{{item.text}}</span>
          </menu-item>
        </i-Menu>
      </Sider>
      <Layout class="dataAc-layout">
        <Header class="dataAc-header">
          <h3 :style="{height: '50px',lineHeight: '50px', fontWeight:'bold'}">Vue DataAc Demo</h3>
        </Header>
        <Content class="dataAc-content">
          <Card :bordered="false">
            <p slot="title">输入框信息采集</p>
            <p class="dataac-cardContent">
              <Row type="flex" justify="space-between" >
                <i-Col span="10" >
                  <label>输入框采集</label>

                  <i-Input v-model="inputValue" placeholder="..." style="width: 300px">
                    <Icon type="ios-at-outline" slot="prepend"></Icon>
                  </i-Input>
                </i-Col>
                <i-Col span="10" >
                  <label>密码输入框采集</label>
                  <i-Input type="password" v-model="inputPassword" placeholder="...">
                    <Icon type="ios-lock-outline" slot="prepend"></Icon>
                  </i-Input>
                </i-Col>
                <i-Col span="10" >
                  <label>textarea 采集</label>
                    <i-Input v-model="desc" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="textarea..."></i-Input>
                </i-Col>
              </Row>

              <Divider dashed orientation="left">说明：</Divider>
              <span class="dataac-subText">
                连续输入时，会持续记录输入信息，失焦时上报数据 <br/>
                通过修改 openInput 打开/关闭 此功能 <br/>
                通过修改 selector 为 `input,textarea` 采集两种元素的输入信息 <br/>
                通过修改 ignoreInputType 对指定类型的输入框忽略采集，此处我们忽略了 password 类型的输入框
              </span>
            </p>
          </Card>
          <Card :bordered="false">
            <p slot="title">点击事件采集</p>
            <p class="dataac-cardContent">
              <Row type="flex" justify="space-between" >
                <i-Col span="20" >
                  <i-Button>Default</i-Button>
                  <i-Button type="primary">Primary</i-Button>
                  <i-Button type="dashed">Dashed</i-Button>
                  <i-Button type="text">Text</i-Button>
                </i-Col>
                <i-Col span="20" >
                  <Page :total="100" />
                </i-Col>
              </Row>
              <Divider dashed orientation="left">说明：</Divider>
              <span class="dataac-subText">
                此处为全量采集示例<br/>
                全量采集情况下页面上所有点击元素都可以采集<br/>
                但是要注意，此处为了减少上报的脏数据，会从事件触发元素向上递归<br/>
                直到找到一个有 class 或者 id 属性的元素，我们称之有效元素<br/>
                最终上报该有效元素，找不到有效元素则不上报<br/>
                向上递归停止的条件有两种，优先判断递归次数是否大于 maxHelpfulCount<br/>
                其次判断是否递归到了 document 根元素
              </span>
            </p>
          </Card>
          <Card :bordered="false">
            <p slot="title">自定义事件采集</p>
            <p class="dataac-cardContent">
              <Row type="flex" justify="space-between" >
                <i-Col span="10" >
                  <i-Button type="info" @click="customEvent">点击上报自定义事件</i-Button>
                </i-Col>
              </Row>
              <Divider dashed orientation="left">说明：</Divider>
              <span class="dataac-subText">
                某些业务场景下，用户的操作来自于非主动操作<br/>
                例如当用户处于某个状态，处于某个业务节点，查看到了某个内容，接口请求处于某种异常等等<br/>
                支持在这些自定义场景下调用 setCustomAc 方法进行自定义上报，可以自定义上报 key 和 value
                <br/>
              </span>
            </p>
          </Card>
          <Card :bordered="false">
            <p slot="title">路由切换采集</p>
            <p class="dataac-cardContent">
              <Row type="flex" justify="space-between" >
                <i-Col span="10" >
                  <i-Button type="info" ghost to="/home">home</i-Button>
                  <i-Button type="info" ghost to="/login">login</i-Button>
                  <i-Button type="info" ghost to="/user?uuid=123">user</i-Button>
                </i-Col>
                <i-Col span="10" >
                  <router-view></router-view>
                </i-Col>
              </Row>
              <Divider dashed orientation="left">说明：</Divider>
              <span class="dataac-subText">
                路由切换采集生效在使用 VueRouter 的前提下，因为我们监控 $route 的变化<br/>
                但是当 url 发生变换的场景下，从 A 页面跳转到相同域的 B 页面，我们同样也有一套监控生效<br/>
                所以哪怕你的项目里没有使用 VueRouter 是多页面的场景，也是可以采集到页面访问（ACPAGE）信息的 <br/>
                你可以点击左侧不同 demo 链接查看另一种数据
                <br/>
              </span>
            </p>
          </Card>
        </Content>
      </Layout>
    </Layout>
  </div>
</div>
  <script type="text/javascript" src="../lib/menu.js"></script>
  <script type="text/javascript" src="../lib/vue.min.js"></script>
  <script type="text/javascript" src="../lib/vue-router.min.js"></script>
  <script type="text/javascript" src="../lib/axios.min.js"></script>
  <script type="text/javascript" src="../lib/iview.min.js"></script>
  <script type="text/javascript" src="../lib/vue-dataAc.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>