<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta charset="utf-8">
  <meta name="description" content="vue-dataac 官方文档 ： https://github.com/adminV/Vue-dataAc">
  <title>Vue-dataAc 文档</title>
  <link rel="stylesheet" href="../lib/styles/basic.css">
  <link rel="stylesheet" href="../lib/styles/iview.css">
</head>
<body>
<div id="app">
  <div class="layout">
    <Layout class="dataac-headLayout" >
      <Sider>
        <i-Menu active-name="3" theme="dark" width="auto" >
          <p class="dataac-menuLogo">
            功能列表
          </p>
          <menu-item :name="item.name" v-for="(item, index) in menuData" :key="index" @click.native="window.location.href =  window.location.origin + item.path">
            <Icon :type="item.icon"></Icon>
            <span>{{item.text}}</span>
          </menu-item>
        </i-Menu>
      </Sider>
      <Layout class="dataAc-layout">
        <Header class="dataAc-header">
          <h3 :style="{height: '50px',lineHeight: '50px', fontWeight:'bold'}">Vue DataAc Demo</h3>
        </Header>
        <Content class="dataAc-content">
          <Card :bordered="false">
            <p slot="title">页面加载性能</p>
            <p class="dataac-cardContent">
              <Divider dashed orientation="left">说明：</Divider>
              <span class="dataac-subText">
                通过performance属性获取页面时间点<br/>
                保留了几个关键数据：<br/>
                 WT： 白屏时间<br/>
                 TCP： TCP连接耗时<br/>
                 ONL： 执行onload事件耗时<br/>
                 ALLRT： 所有请求耗时<br/>
                 TTFB： TTFB读取页面第一个字节的时间<br/>
                 DNS： DNS查询时间<br/>
              </span>
            </p>
          </Card>
          <Card :bordered="false">
            <p slot="title">Vue 组件性能</p>
            <p class="dataac-cardContent">
              <Row type="flex" justify="space-between" >
                <div style="width: 100%;height: 100px;overflow: scroll">
                  <span v-for="(item, i) in new Array(100000).keys()" :key="i">
                  {{i}}
                </span>
                </div>
              </Row>

              <Divider dashed orientation="left">说明：</Divider>
              <span class="dataac-subText">
                组件<br/>
                通过修改 openInput 打开/关闭 此功能 <br/>
                通过修改 selector 为 `input,textarea` 采集两种元素的输入信息 <br/>
                通过修改 ignoreInputType 对指定类型的输入框忽略采集，此处我们忽略了 password 类型的输入框
              </span>
            </p>
          </Card>
        </Content>
      </Layout>
    </Layout>
  </div>
</div>
  <script type="text/javascript" src="../lib/menu.js"></script>
  <script type="text/javascript" src="../lib/vue.min.js"></script>
  <script type="text/javascript" src="../lib/axios.min.js"></script>
  <script type="text/javascript" src="../lib/iview.min.js"></script>
  <script type="text/javascript" src="../lib/vue-dataAc.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>